body {
  font-family: helvetica;
}

.container {
  margin: 20px 100px 100px 100px;
}

.banner {
  background-color: #f05b62;
  text-align: center;
  padding: 30px;
  border-radius: 5px;
}

.banner h1 {
  font-size: 70px;
  color: white;
}

.banner h2 {
  color: #8b0036;
}

.midcontainer {
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  background-color: #01a9b4;
  padding-top: 30px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
}
